ProjectSettings filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp-Editor.csproj filter=lfs diff=lfs merge=lfs -text
Assembly-CSharp.csproj filter=lfs diff=lfs merge=lfs -text
Defender.sln filter=lfs diff=lfs merge=lfs -text
Library filter=lfs diff=lfs merge=lfs -text
Logs filter=lfs diff=lfs merge=lfs -text
Packages filter=lfs diff=lfs merge=lfs -text
Assets filter=lfs diff=lfs merge=lfs -text
UserSettings filter=lfs diff=lfs merge=lfs -text
ignore.conf filter=lfs diff=lfs merge=lfs -text
obj filter=lfs diff=lfs merge=lfs -text
testDef filter=lfs diff=lfs merge=lfs -text
testDef.sln filter=lfs diff=lfs merge=lfs -text
Temp filter=lfs diff=lfs merge=lfs -text
testDef[[:space:]]-[[:space:]]副本.sln filter=lfs diff=lfs merge=lfs -text
